.account-panel {
    font-size: large;
    height: auto;
    position: static;
    max-height: 55px;
    padding: 20px 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
}

.sign-in-icon {
    width: 40px;
    margin-right: 10px;
}

.sign-in-action {
    display: flex;
    align-items: center;
}

.shopping-cart-icon, .sign-in-icon{
    width: 40px;
}

.shopping-cart-icon {
    margin-left: 70px;
}

.sign-in-action, .shopping-cart-icon{
    cursor: pointer;
}

