img {
    overflow: clip;
    width: 300px;
    cursor: pointer;
}

.hover-rotate {
    width: 300px;
}

figure {
    width: 300px;
    overflow: hidden;
}

.product-card {
    margin: 0px 20px;
    margin-bottom: 30px;;
}

.gender {
    color: gray;
}

.description {
    line-height: 7px;
    margin-left: 40px;
}

.hover-rotate figure img {
    
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-rotate figure:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

.product-card-list {
    display: flex;
    flex-direction: row;
    margin: 20px 60px 0px 650px;
    flex-wrap: wrap;
  }