img {
    overflow: clip;
    width: 300px;
    cursor: pointer;
}

.hover-rotate {
    width: 300px;
}

figure {
    width: 300px;
    overflow: hidden;
}

.product-card {
    margin: 0px 20px;
    margin-bottom: 30px;
    width: 100%;
    min-height: 100%;

}

.gender {
    color: gray;
}

.description {
    line-height: 7px;
    margin-left: 40px;
}

.hover-rotate figure img {
    
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-rotate figure:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

.product-card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: 20px 0px 0px 650px; */
  }

@media (min-width:768px) { .product-card-list { padding: 4% 8% } }

@media (min-width:768px) {
    .product-card { width: 29% }
}

@media (max-width:767px) { .container-block { padding: 11% 8% } }



  .product-link {
        text-decoration: none;
  }